@using BookPool.DataObjects.DTO;
@using BookPool.DataObjects.EDM;

@{
    Layout = "~/Views/Shared/_Layout_Out.cshtml";

    List<UsersAddress> userAddresses = ViewBag.UserAddresses as List<UsersAddress>;
    string addressTitle = string.Empty;
    string address = string.Empty;
    if (userAddresses.Count() > 0)
    {
        addressTitle = userAddresses.FirstOrDefault(x => x.DeliveringTo)?.AddressTitle;
        address = userAddresses.FirstOrDefault(x => x.DeliveringTo)?.Address;
    }


    List<BookPoolResult> booksInCart = ViewBag.BooksInCart as List<BookPoolResult>;
}

<div class="row container">
    <div class="col s12 m12 l12">
        <h5>CHECKOUT</h5>
    </div>
</div>



<div id="mainSortByFilter" style="background: white; height:50px;">
    <div class="row">
        <div class="col s12 m12 l12 noscroll" style="overflow:auto;">
            <div style="min-width: 800px;">
                <div id="filtersClickableTag" class="card horizontal filterContainerTrigger smallfilter">
                    <div class="card-image" style="padding:0;">
                        <i class="material-icons">filter_list</i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Filters</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Rating: 4.0+</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-image" style="padding:0;">
                        <i class="material-icons">motorcycle</i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Express Delivery</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter filterContainerTrigger">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Sort by</p>
                        </div>
                    </div>
                    <div class="card-image" style="padding:0; float:right;">
                        <i class="material-icons">arrow_drop_down</i>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Great Offers</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter filterContainerTrigger">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Rating</p>
                        </div>
                    </div>
                    <div class="card-image" style="padding:0; float:right;">
                        <i class="material-icons">arrow_drop_down</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row container">

    <div class="row">
        <div class="col s12 m12 l12">
            <h5>
                <i style="float: left;line-height: 0.7;padding-right: 10px; color:var(--primaryRed);" class="material-icons">shopping_basket</i>
                IN MY BASKET
            </h5>
        </div>
    </div>

    <div id="totalAmountContainer" style="margin-bottom:0px; background-color:white;" class="row">
        <div class="col s12 m12 l12">
            <h5>
                Total Amount <span id="totalAmount" style="color:var(--primaryRed)">$0</span>
            </h5>
        </div>
    </div>

    @{
        foreach (var book in booksInCart)
        {
            <div class="col s12 m12 l12" style="overflow-x:auto;overflow-y:hidden;">
                <form action="#">
                    <p>
                        <label>
                            <input class="addToCheckout" value="@book.ID" data-Price="@book.Price" type="checkbox">
                            <span>Add to checkout</span>
                        </label>
                    </p>
                </form>
                <div class="row itemslist">
                    <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                        @Html.Partial("_CartBooks", book)
                    </div>
                </div>
            </div>
        }
    }


</div>

<hr />

<div class="row container">

    <div class="row">
        <div class="col s12 m12 l12">
            <h5>
                <i style="float: left;padding-right: 10px; line-height:0.8; color:var(--primaryRed);" class="material-icons">location_on</i>
                DELIVERING TO
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            @{
                if (userAddresses.Count() > 0)
                {
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title" style="line-height:10px;font-weight: bold;">
                                @addressTitle
                            </span>
                            <p>
                                @address
                            </p>
                        </div>
                    </div>
                    <a class="sidenav-trigger" style="cursor:pointer;" data-target="side-form">Change Delivery Address</a>
                }
                else
                {
                    <a class="sidenav-trigger" style="cursor:pointer;" data-target="side-form">Add Delivery Address</a>
                }
            }
        </div>
    </div>


</div>

<hr />

<div class="row container">

    <div class="row">
        <div class="col s12 m12 l12">
            <h5>
                <i style="float: left;padding-right: 10px; line-height:0.8; color:var(--primaryRed);" class="material-icons">payment</i>
                PAYMENT METHOD
            </h5>
        </div>
    </div>

    <div class="input-field col s12 m6 l5">
        <select id="paymentMethod" class="icons">
            <option value="" disabled selected>Choose your payment option</option>
            <option value="a" data-icon="/Content/img/payment/cashondelivery.png" class="left" selected>Cash on Delivery</option>
            @*<optgroup label="Card">
                    <option value="test" data-icon="/img/payment/visa.png" class="left">4228XXXXX92210</option>
                    <option value="newCard" data-icon="/img/payment/creditcardpayment.png" class="left">Add New Card</option>
                </optgroup>*@
        </select>
    </div>

</div>

<div class="row container">
    <div id="newCardDetails" class="row" style="display:none;">

        <div class="row">
            <div class="col s12 m12 l12">
                <h5>
                    <i style="float: left;padding-right: 10px; line-height:0.8; color:var(--primaryRed);" class="material-icons">info_outline</i>
                    CARD INFO
                </h5>
            </div>
        </div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Name on card</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">credit_card</i>
                    <input id="card_number" type="text" class="validate">
                    <label for="card_number">Card number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="expiry_date" type="number" class="validate">
                    <label for="expiry_date">Expiry date (MM/YY)</label>
                </div>
                <div class="input-field col s6">
                    <input id="cvv" type="number" class="validate">
                    <label for="cvv">CVV</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="nickname_for_card" type="text" class="validate">
                    <label for="nickname_for_card">Nickname for card</label>
                </div>
            </div>

            <div class="row" style="display:flex;">
                <a style="max-width:700px; margin:auto;" class="btn-large waves-effect waves-light red">
                    Add card
                    <i style="float:right;" class="material-icons">add</i>
                </a>
            </div>

        </form>
    </div>
</div>

<hr />


<div class="row container" style="display:flex; margin-top:50px;">
    <a id="placeOrder" style="max-width:700px; margin:auto;" class="btn-large waves-effect waves-light">Place Order<i style="float:right;" class="material-icons">keyboard_arrow_right</i></a>
</div>

<div style="width:100%; height:200px;">

</div>



<script type="text/javascript">

    $(document).ready(function () {

        window.onscroll = function () { stickTotalBars() };

        var totalhHeader = document.getElementById("totalAmountContainer");
        var stickyTotal = totalhHeader.offsetTop;

        function stickTotalBars() {
            if (window.pageYOffset > stickyTotal) {
                totalhHeader.classList.add("stickySearchBar");
            } else {
                totalhHeader.classList.remove("stickySearchBar");
            }
        }

    });

    $(document).on('change', '.addToCheckout', function () {
        calculateTotal();
    });

    function calculateTotal() {
        var checkedBooks = 0;
        var totalPrice = 0;
        $('.addToCheckout').each(function () {
            if (this.checked) {
                totalPrice += parseInt($(this).attr('data-Price'));
                checkedBooks += 1;
            }
            $('#totalAmount').text(totalPrice + ' L.L.');
        });
        console.log('checkedBooks = ' + checkedBooks);
        if (checkedBooks == 0) {
            $('#placeOrder').prop('disabled', true);
        } else {
            $('#placeOrder').prop('disabled', false);
        }
    }

    $(document).ready(function () {
        $('#placeOrder').prop('disabled', true);
    });

    $(document).on('click', '#placeOrder', function () {
        var booksIDs = [];
        $('.addToCheckout').each(function () {
            if (this.checked) {
                var bookID = $(this).val();
                booksIDs.push(bookID);
            }
        });

        var url = '@Url.Action("PlacedOrder","Checkout")?books=' + booksIDs.toString();
        window.location = url;
    });

    $(document).on('click', '.removeFromBasket', function () {
        var bookID = $(this).attr('data-BookID');

        $.ajax({
            url: '@Url.Action("RemoveBookFromBasket","Checkout")',
            type: 'POST',
            dataType: 'json',
            data: {
                BookID: bookID
            },
            success: function (data) {
                location.reload();
            },
            error: function (request, error) {
                location.reload();
            }
        });
    });

</script>