@model BookPoolV2.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@*<h4>Use another service to log in.</h4>
<hr />*@
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        string redirectToURL = HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.Host, string.Empty).Replace("https://", string.Empty).Replace("http://", string.Empty);
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = redirectToURL })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="media-buttons">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType == "Google")
                        {
                            <button id="@p.AuthenticationType" type="submit" class="btn col-sm-12 google" data-toggle="tooltip" data-placement="top" name="provider" value="@p.AuthenticationType">
                                <i class="fab fa-google" style="float:left;"></i>
                                Login with Google
                            </button>
                        }
                        if (p.AuthenticationType == "Facebook")
                        {
                            <button id="@p.AuthenticationType" type="submit" class="btn col-sm-12 facebook" data-toggle="tooltip" data-placement="top" name="provider" value="@p.AuthenticationType">
                                <i class="fab fa-facebook-f" style="float:left;"></i>
                                Login with Facebook
                            </button>
                        }
                    }
                    <a href="@Url.Action("Login","Account")" type="submit" class="btn col-sm-12" data-toggle="tooltip" data-placement="top" name="provider">
                        Login with Bookpool
                    </a>
                </p>
            </div>
        }
    }
}
