@using BookPool.DataObjects.EDM

@model AspNetUser

@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout_Out.cshtml";
}


<div class="row container">
    <div class="col s12 m12 l12">
        <h5>
            <i style="float: left; padding-right: 10px; line-height: 0.8;" class="material-icons">account_circle</i>
            My Profile
        </h5>
        <hr />
    </div>
</div>

<div class="row container">
    <div class="col s12">
        <div class="input-field col s12 m6" style="padding-left:10px!important;">
            <input id="firstName" type="text" class="validate" value="@Model.FirstName">
            <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s12 m6" style="padding-left:10px!important;">
            <input id="lastName" type="text" class="validate" value="@Model.LastName">
            <label for="lastName">Last Name</label>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field col s12 m6" style="padding-left:10px!important;">
            <input id="emailAddress" type="text" class="validate" value="@Model.Email">
            <label for="emailAddress">Email Address</label>
        </div>
        <div class="input-field col s12 m6" style="padding-left:10px!important;">
            <input id="phoneNumber" type="text" class="validate" value="@Model.PhoneNumber">
            <label for="phoneNumber">Phone Number</label>
        </div>
    </div>
    <div class="col s12">
        <button id="saveUserID" type="button" class="waves-effect waves-light btn-small modal-trigger red" style="float:right;">
            Save
        </button>
    </div>
</div>

<script type="text/javascript">

    $('#mainSearchBar').hide();
    $('#mainSortByFilter').hide();

    $(document).on('click', '#saveUserID', function () {

        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var emailAddress = $('#emailAddress').val();
        var phoneNumber = $('#phoneNumber').val();

        $.ajax({
            url: '@Url.Action("UpdateUserInfo","Account")',
            type: 'POST',
            dataType: 'json',
            data: {
                FirstName: firstName,
                LastName: lastName,
                Email: emailAddress,
                PhoneNumber: phoneNumber
            },
            success: function (data) {
                location.reload();
            },
            error: function (request, error) {
                location.reload();
            }
        });
    });

</script>