@using BookPoolV2.Models
@using Microsoft.AspNet.Identity
@using BookPool.DataObjects.EDM

@{
    List<UsersAddress> userAddresses = new List<UsersAddress>();
    if (ViewBag.UserAddresses != null)
    {
        userAddresses = ViewBag.UserAddresses as List<UsersAddress>;
    }

    List<Dictionary<string, string>> userCookieCart = new List<Dictionary<string, string>>();
    if(ViewBag.UserCartCookie != null)
    {
        userCookieCart = ViewBag.UserCartCookie as List<Dictionary<string, string>>;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="@Url.Content("~/img/logo.png")">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookPool</title>
    <link type="text/css" href="/Content/css/shop/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="/Content/css/shop/styles.css" rel="stylesheet">
    <link type="text/css" href="/Content/css/quantity.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="manifest" href="@Url.Content("~/Content/manifest.json")">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
    <meta name="theme-color" content="#FFE1C4">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css" />
    <script src="https://kit.fontawesome.com/1afc59ddd6.js" crossorigin="anonymous"></script>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#FFE1C4" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <script src="@Url.Content("~/Content/js/app.js")"></script>

    <style>
        #side-form {
            z-index: 2147483647 !important
        }

        .media-buttons .facebook.btn:hover {
            background-color: #445c8e;
        }

        .media-buttons .google.btn:hover {
            background-color: #DE5246;
        }

        .media-buttons .btn {
            margin: 0;
            display: inline-block;
            font-size: 11px;
            width: 100%;
        }

        .media-buttons button i {
            padding-right: 15px;
        }

        button.google {
            background-color: #DE5246;
        }

        button.facebook {
            background-color: #445c8e;
        }

        .modal {
            z-index: 2147483647 !important;
            max-height: inherit !important;
        }

            .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
                min-width: 200px;
                text-align: center;
                color: white;
                font-weight: bold;
            }

        .slider {
            position: fixed;
            width: 100%;
            height: 100%;
            bottom: 0;
            overflow: hidden;
            background-color: var(--primary);
            color: #FFF;
            transition: all 0.5s;
            z-index: 2147483647 !important;
        }

            .slider.close {
                bottom: 0;
                height: 0;
                transition: all 0.5s;
            }

        #slider-range {
            height: 300px;
        }

        .filternavigator {
            -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
            box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
        }

        .content {
            padding: 0 30px;
        }


        .checked {
            color: orange;
        }

        .side-menu {
            z-index: 2147483646 !important;
        }
    </style>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="/Content/js/shop/materialize.min.js"></script>
    <script src="/Content/js/shop/ui.js"></script>
    <script src="/Content/js/shopui.js"></script>
    <script src="/Content/js/quantity.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
    <script src="/Content/js/dynamics.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>


<div id="search-request-successful" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Success</h4>
        <p>
            Bookpool will manually search third party websites, groups and local libraries to find this book for you.
        </p>
        <p>
            You can see all the books that we are currently searching for if you click <a href="@Url.Action("MyWishes","Home")">here</a>.
        </p>
        <p>
            We will send you an email and an sms in the next 48 hours with the book's price.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat green">Okay</a>
    </div>
</div>

<div id="sell-my-book-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Please login to continue</h4>
        <p>
            Bookpool will post your book in the database and will contact you when someone wants to buy it.
            <br />
            We will contact you by email/phone, pay you and deliver it to the client.
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat green sidenav-trigger"
           style="min-width:100px;"
           data-GoogleBookID=""
           data-target="side-menu">LOGIN</a>
    </div>
</div>

@{
    if (Request.IsAuthenticated)
    {
        <div id="search-for-my-book-modal" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Search for my book</h4>
                <p>
                    Bookpool will search for copies of your book in local shops and social media platforms.
                    <br />
                    We will contact you by email/phone as soon as we find it.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat pull-left red" style="min-width:100px;">No</a>
                <a id="findMyBook" href="#!" class="modal-close waves-effect waves-green btn-flat green" style="min-width:100px;" data-GoogleBookID="">Yes please</a>
            </div>
        </div>
    }
    else
    {
        <div id="search-for-my-book-modal" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Please login to continue</h4>
                <p>
                    Bookpool will search for copies of your book in local shops and social media platforms.
                    <br />
                    We will contact you by email/phone as soon as we find it.
                </p>
            </div>
            <div class="modal-footer">
                @*<a href="#!" class="modal-close waves-effect waves-green btn-flat pull-left red" style="min-width:100px;">No</a>*@
                <a class="modal-close waves-effect waves-green btn-flat green sidenav-trigger"
                   style="min-width:100px;"
                   data-GoogleBookID=""
                   data-target="side-menu">LOGIN</a>
            </div>
        </div>
    }
}


<body class="white lighten-4">

    <div id="mainSearchBar" style="background:white;height:110px;">
        <nav id="locationMainHeader" class="z-depth-0 titlenav" style="height:50px;">
            <div class="nav-wrapper container">
                @{
                    if (Request.IsAuthenticated)
                    {
                        string addressTitle = "Set address";
                        if (userAddresses != null)
                        {
                            addressTitle = userAddresses.FirstOrDefault(x => x.DeliveringTo == true)?.AddressTitle;
                        }
                        <div id="locationContainer">
                            <a class="sidenav-trigger" style="display:inherit; width:30px; color:var(--primaryRed); cursor:pointer;" data-target="side-form">
                                <i class="material-icons">location_on</i>
                            </a>

                            <a class="sidenav-trigger" style="display:inherit; margin-left:0px; cursor:pointer;" data-target="side-form">
                                <span style=" font-family: AvenirNextBold;">@addressTitle</span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a class="sidenav-trigger" style="display:inherit; width:30px; color:var(--primaryRed); cursor:pointer;" data-target="side-menu">
                                <i class="material-icons">location_on</i>
                            </a>
                            <a class="sidenav-trigger" style="display:inherit; margin-left:0px; cursor:pointer;" data-target="side-menu">
                                <span style=" font-family: AvenirNextBold;">Delivering to</span>
                            </a>
                        </div>
                    }
                }
                <div id="goToHomeContainer" style="display:none;">
                    <a href="/" class="sidenav-trigger" style="        display: inherit;
        width: 30px;
        color: var(--primaryRed);
        cursor: pointer;">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                    <a href="/" class="sidenav-trigger" style="        display: inherit;
        margin-left: 0px;
        cursor: pointer;
">
                        <span style="font-family:AvenirNextBold;">Home</span>
                    </a>
                </div>
                <span class="right" style="color: var(--primaryBlue); cursor:pointer;">
                    <i style="        font-size: 30px;" class="material-icons sidenav-trigger" data-target="side-menu">account_circle</i>
                </span>
                @{
                    if (Request.IsAuthenticated)
                    {
                        <span class="right" style="cursor: pointer; margin-right: 20px; ">
                            <a href="@Url.Action("Index","Checkout")">
                                <span id="itemsincartbadge" class="badge itemsincart" style="display:none;">0</span>
                                <i style="font-size:30px; color: var(--primaryGrey);" class="material-icons">shopping_cart</i>
                            </a>
                        </span>
                    }
                }

            </div>

        </nav>
        <nav id="searchBooksContainer" class="z-depth-0 titlenav" style="height:50px;background:white;">
            <div class="nav-wrapper container" style="background:white; height:50px; padding-top:5px; width:100%;">
                <div id="searchBooksInnerContainer" class="row searchBar">
                    <div class="col s12 m12 l12" style="height:50px;float:inherit;">
                        <div class="sectionnav">
                            <div class="nav-wrapper">
                                <div class="input-field" style="margin-top:5px;">
                                    <input id="searchInput" type="search" required placeholder="Search" style="position:absolute;">
                                    <label class="label-icon" for="search">
                                        <i class="material-icons" style="color:var(--primaryGrey) !important">search</i>
                                    </label>
                                    <a href="#!" class="modal-close waves-effect btn-flat searchGoButton">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

    </div>

    @Html.Partial("_UsersMenu")

    @Html.Partial("_PartialUsersLocation")

    <div class="content">
        @RenderBody()
    </div>

    <div class="row" id="messageFooter" style="display: none;">
        <div id="messageFooterContainer">
            <div id="messageFooterContainerLeft">
                <div style="width:100%; height:25px; padding-top:5px;">
                    <span id="itemsInCartFooter" style="color:white; letter-spacing:5px;">0 ITEM</span>
                </div>
                <div style="width:100%; height:25px; padding-top:5px;">
                    <span id="costOfItemsInCartFooter" style="color:white; letter-spacing:5px;">LBP 8500</span>
                </div>
            </div>
            <div id="messageFooterContainerRight">
                <div style="width:100%; height:55px; padding-top:15px; vertical-align:middle; text-align:right;">
                    <span style="color:white;">View Cart <i class="material-icons white-text" style="vertical-align:middle;">play_arrow</i></span>
                </div>
            </div>
        </div>
    </div>


    @*<div class="row" id="messageFooter">
            <div id="messageFooterContainer">
                <div id="messageFooterContainerLeft">
                    <div style="width:100%; height:25px; padding-top:5px;">
                        <span id="itemsInCartFooter" style="color:white; letter-spacing:5px;"></span>
                    </div>
                    <div style="width:100%; height:25px; padding-top:5px;">
                        <span id="costOfItemsInCartFooter" style="color:white; letter-spacing:5px;">LBP 8500</span>
                    </div>
                </div>
                <div id="messageFooterContainerRight">
                    <div style="width:100%; height:55px; padding-top:15px; vertical-align:middle; text-align:right;">
                        <span style="color:white;">View Cart <i class="material-icons white-text" style="vertical-align:middle;">play_arrow</i></span>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="navbarFooter" style="box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);">
        <div id="innerFooterContainer" style="margin:auto;">
            <a id="books-section-navigator" href="@Url.Action("Index","Home")">
                <i class="fa fa-book" aria-hidden="true" style="color: var(--primaryGrey);"></i>
            </a>
            @*<a id="magazines-section-navigator" href="@Url.Action("Index","Magazines")">
                    <i class="fa fa-newspaper-o" aria-hidden="true" style="color: var(--primaryGrey);"></i>
                </a>*@
            <a id="academic-section-navigator" href="@Url.Action("Index","Academic")">
                <i class="fa fa-university" aria-hidden="true" style="color: var(--primaryGrey);"></i>
            </a>
        </div>
    </div>

    <script type="text/javascript">

        var stickySearchHeight = 0;
        window.onscroll = function () { stickSearchBars() };

        var searchHeader = document.getElementById("mainSearchBar");
        var stickySearch = searchHeader.offsetTop;

        //var sortFilterHeader = document.getElementById("mainSortByFilter");
        //var stickySortFilter = sortFilterHeader.offsetTop - stickySearch + 200;

        function stickSearchBars() {

            if (window.pageYOffset > stickySearch) {
                searchHeader.classList.add("stickySearchBar");
            } else {
                searchHeader.classList.remove("stickySearchBar");
            }

            //if (window.pageYOffset > stickySortFilter) {
            //    sortFilterHeader.classList.add("stickySortByFilter");
            //} else {
            //    sortFilterHeader.classList.remove("stickySortByFilter");
            //}
        }

        $(document).on('click', '.gotoproduct', function () {
            var bookID = $(this).attr('data-BookID');
            var bookName = $(this).attr('data-BookName');

            var url = '@Url.Action("Product","Home")?query=' + bookName + '&bookID=' + bookID;
            window.location = url;
        });

        $(document).on('click', '.gotouserbooks', function () {
            console.log('Here');
            var shopId = $(this).data('data-shopId');
            var url = '@Url.Action("FilteredByCategory", "Home")';
            window.location = url;
        });

        $(document).on('click', '#messageFooterContainer', function () {
            var shopId = $(this).data('data-shopId');
            var url = '@Url.Action("Index","Checkout")';
            window.location = url;
        });

        $(document).on('click', '#placeOrder', function () {
            var shopId = $(this).data('data-shopId');
            var url = '@Url.Action("PlacedOrder","Checkout")';
            window.location = url;
        });

        $(document).ready(function () {

            $('.collapsible').collapsible();
            $('#search-request-successful').modal();

            $('.filterTab').tabs();

            $('.filterContainerTrigger, .sliderCloseApply, .sliderCloseCancel').click(function () {
                $('.slider').toggleClass('close');
            });

            $(function () {
                noUiSlider.create(document.getElementById('slider-range'), {
                    start: [5000, 75000],
                    step: 5000,
                    connect: true,
                    direction: 'rtl',
                    orientation: 'vertical',
                    tooltips: true,
                    range: {
                        'min': 5000,
                        'max': 75000
                    },
                    pips: { // Show a scale with the slider
                        mode: 'steps',
                        stepped: true,
                        density: 5000
                    }
                }).on('change', function (values) {
                    console.log(values);
                });
            });

            $('.category').click(function () {
                var categoryID = $(this).attr('data-CategoryID');
                var url = '@Url.Action("FilteredByCategory", "Home")?CategoryID=' + categoryID;
                window.location = url;
            });

            $('.ratingFilter').click(function () {
                var filterStar = parseInt($(this).attr('data-star'));

                if (filterStar == 1) {
                    $('#filterStarsFromTo').text('Any');
                } else {
                    $('#filterStarsFromTo').text(filterStar + '+');
                }

                $('.ratingFilter').each(function (i, el) {
                    if (filterStar > parseInt($(el).attr('data-star'))) {
                        $(el).find('.fa-star').removeClass('checked');
                    } else {
                        $(el).find('.fa-star').addClass('checked');
                    }
                });
            });

        });

        $('#searchInput').keyup(function (e) {
            if (e.keyCode == 13) {
                searchForBook();
            }
        });

        $(document).on('click', '.searchGoButton', function () {
            searchForBook();
        });

        function searchForBook() {
            var query = $('#searchInput').val();
            var url = '@Url.Action("Index","Home")?query=' + query;
            window.location = url;
        }

        $(document).ready(function () {
            $('.modal-trigger').leanModal();
        });

        $(document).on('click', '.findThisBookForMe', function () {
            var bookID = $(this).attr('data-GoogleBookID');
            $('#findMyBook').attr('data-GoogleBookID', bookID);
        });

        $(document).on('click', '#findMyBook', function () {
            var bookID = $(this).attr('data-GoogleBookID');

            $.ajax({
                url: '@Url.Action("SearchForThisBook","Home")',
                type: 'POST',
                dataType: 'json',
                data: {
                    BookID: bookID
                },
                success: function (data) {
                    $('#search-request-successful').modal('open');
                    //location.reload();
                },
                error: function (request, error) {
                    $('#search-request-successful').modal('open');
                    //location.reload();
                }
            });
        });


        $(document).on('click', '.addtoCart', function () {

            var highlightElement = $(this);

            highlightElement.addClass('highlighted');

            setTimeout(function () {
                highlightElement.removeClass('highlighted');
            }, 1000);

        });

        $(document).on('click', '.addtoCart', function () {

            var bookID = $(this).attr('data-BookID');
            var bookPrice = $(this).attr('data-Price');

            var alreadyInCart = false;

            if (!!$.cookie('Books')) {
                var books = $.parseJSON($.cookie("Books"));

                $.each(books, function (k, v) {
                    console.log('v.BookID = ' + v.BookID + ' | bookID = ' + bookID);
                    if (v.BookID == bookID) {
                        alreadyInCart = true;
                    }
                });
            }

            if (alreadyInCart == false) {

                if (!!$.cookie('Books')) {
                    var alreadyInCart = false;
                    var books = $.parseJSON($.cookie("Books"));

                    books.push(
                        { 'BookID': bookID, 'Price': bookPrice }
                    );

                    $.cookie("Books", JSON.stringify(books), { path: '/' });
                } else {
                    var books = [
                        { 'BookID': bookID, 'Price': bookPrice }
                    ];
                    $.cookie("Books", JSON.stringify(books), { path: '/' });
                }

                $.ajax({
                    url: '@Url.Action("AddBookToCart","Home")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        BookID: bookID
                    },
                    success: function (data) {
                        showItemsInCart();
                    },
                    error: function (request, error) {

                    }
                });
            }

        });

        function showItemsInCart() {

            @{
                if (userCookieCart.Count() > 0)
                {
                    <text>
                        getCookieFromDatabase();
                    </text>
                }
            }

            var books = $.parseJSON($.cookie("Books"));

            if (books.length > 0) {

                var price = 0;

                $.each(books, function (k, v) {
                    console.log('V = ' + v.Price);
                    price = price + parseInt(v.Price);
                });

                var pluriel = '';
                if (books.length > 1) {
                    pluriel = 'S';
                }

                var booksInCart = books.length;

                $('#itemsincartbadge').parent().find('.material-icons').css('color', 'var(--primaryRed)');
                $('#itemsincartbadge').show();
                $('#itemsInCartFooter').text(booksInCart + ' BOOK' + pluriel);
                $('#itemsincartbadge').text(booksInCart);
                $('#costOfItemsInCartFooter').text(price);
                $('#messageFooter').show();
            }
        }

        @{
            if (userCookieCart.Count()>0)
            {
                <text>
                    $(document).ready(function () {
                        showItemsInCart();
                    });
                    function getCookieFromDatabase() {
                        var userCookie = JSON.parse('@Html.Raw(Json.Encode(userCookieCart))');
                        $.cookie("Books", JSON.stringify(userCookie), { path: '/' });
                    }
                </text>
            }
            else
            {
                <text>
                    $(document).ready(function () {
                        $.removeCookie('Books', { path: '/' });
                    });
                </text>
            }
        }

    </script>

</body>

</html>
