@using BookPool.DataObjects.DTO
@using System;
@using System.Globalization;

@model BookPoolResult

<div class="card" style="box-shadow:none; -webkit-box-shadow:none;" data-BookID="@Model.ID">
    <div class="card-horizontal" style="overflow: hidden;">
        <div class="img-square-wrapper">
            @{
                if (Model.ImageURL == null)
                {
                    <img class="smallImage" src="@Url.Content("~/img/no_preview.jpg")" alt="@Model.BookName">
                }
                else
                {
                    <img class="smallImage" src="@Model.ImageURL" alt="@Model.BookName">
                }
            }
        </div>
        <div class="card-body">
            <div style="width:100%;">
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;font-weight:bold;">
                        @Model.BookName
                    </h5>
                    @{
                        if (Model.Authors != null)
                        {
                            <h5 class="card-title" style="padding-top:0px;color: black;font-size: 12px;">
                                by @string.Join(",", Model.Authors)
                            </h5>
                        }
                    }
                    <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                        Price: @Model.Price.ToString("C0", CultureInfo.CurrentCulture) L.L.
                    </p>
                    <p class="card-text" style="margin-bottom:6px;margin-top:6px; color:var(--secondaryOrange)">
                        @Model.BookCondition
                    </p>
                    <p class="card-text" style="">
                        <button class="btn waves-effect waves-light red lighten-2 deleteMyBook" data-BookID="@Model.ID">
                            Delete
                        </button>
                    </p>
                </div>
                <div style="float:right;position: absolute;right: 0;">
                    @{
                        string averageRating = Model.AverageRating.ToString();
                        string backgroundColor = "transparent";

                        if (Model.AverageRating == 0)
                        {
                            averageRating = "N/A";
                            backgroundColor = "grey";
                        }
                        else if (Model.AverageRating < 2)
                        {
                            backgroundColor = "yellow";
                        }
                        else if (Model.AverageRating < 3)
                        {
                            backgroundColor = "orange";
                        }
                        else if (Model.AverageRating < 4)
                        {
                            backgroundColor = "green";
                        }
                        else if (Model.AverageRating < 5)
                        {
                            backgroundColor = "forestgreen";
                        }

                        <span class="badge" style="color:white; background-color:@backgroundColor;">@averageRating</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

