<!-- Modal Structure -->
@*<div id="search-for-my-book-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Search for my book</h4>
        <p>
            Bookpool will search for copies of your book in local shops and social media platforms.
            <br />
            We will contact you by email/phone as soon as we find it.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat pull-left red">No, I'll search for it</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat green">Yes please</a>
    </div>
</div>*@

<div class="row itemslist">
    <div class="col s12 m12 l12" style="margin-bottom:30px;">
        <h5>
            <i class="material-icons left red-text">search</i>
            Search by Academical Institutions
        </h5>
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none;">
            <div class="card-body">
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <select>
                        <option>University Name</option>
                        <option>AUST</option>
                        <option>AUB</option>
                        <option>USJ</option>
                    </select>
                </div>
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <select>
                        <option>Major</option>
                        <option>CCE</option>
                        <option>Architecture</option>
                    </select>
                </div>
                <div style="float:left;width: 100%; text-align:center;">
                    <a class="btn-large waves-effect waves-light btn-small" style="background-color:rgb(255, 76, 76) !important;">
                        <i class="material-icons left">search</i>
                        Search
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row itemslist">

    @Html.Partial("_AvailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_AvailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")
</div>

<script>
    $(document).ready(function () {
        academicSection_active();
        $('.modal-trigger').leanModal();
    });
</script>