@using BookPool.DataObjects.EDM
@using BookPool.DataObjects.DTO

@{
    ViewBag.Title = "Home Page";

    List<AspNetUser> users = ViewBag.Users as List<AspNetUser>;
    List<BookPoolResult> availableBooks = ViewBag.AvailableBooks as List<BookPoolResult>;
    List<BookPoolResult> searchForBooks = ViewBag.SearchBooks as List<BookPoolResult>;
    List<OrderResult> orders = ViewBag.Orders as List<OrderResult>;
}

<div class="row">
    <div class="col-md-12">
        <h2>Registered Users</h2>
        <table id="users">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Uploaded Books</h2>
        <table id="sellingBooks">
            <thead>
                <tr>
                    <th>
                        Book Name
                    </th>
                    <th>
                        Price (L.L.)
                    </th>
                    <th>
                        Selling Status
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Owner Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var book in availableBooks)
                    {
                        <tr>
                            <td>@book.BookName</td>
                            <td>@book.Price</td>
                            <td>@book.SellingStatus</td>
                            <td>
                                <img width="70" src="@book.ImageURL" />
                            </td>
                            <td>@book.OwnerUserName</td>
                            <td>@book.OwnerPhoneNumber</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Search for Books</h2>
        <table id="searchingBooks">
            <thead>
                <tr>
                    <th>
                        Book Name
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Client Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var book in searchForBooks)
                    {
                        <tr>
                            <td>@book.BookName</td>
                            <td>@book.Publisher</td>
                            <td>
                                <img width="70" src="@book.ImageURL" />
                            </td>
                            <td>@book.OwnerUserName</td>
                            <td>@book.OwnerPhoneNumber</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Orders</h2>
        <table id="orders">
            <thead>
                <tr>
                    <th>
                        OrderID
                    </th>
                    <th>
                        Total Price (L.L.)
                    </th>
                    <th>
                        Book Name
                    </th>
                    <th>
                        Book Price (L.L.)
                    </th>
                    <th>
                        Client UserName
                    </th>
                    <th>
                        Client Phone Number
                    </th>
                    <th>
                        Seller UserName
                    </th>
                    <th>
                        Seller PhoneNumber
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.OrderID</td>
                            <td>@order.TotalPrice</td>
                            <td>@order.BookName</td>
                            <td>@order.BookPrice</td>
                            <td>@order.BuyerUserName</td>
                            <td>@order.BuyerPhoneNumber</td>
                            <td>@order.SellerUserName</td>
                            <td>@order.SellerPhoneNumber</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
