
@{
    ViewBag.Title = "FilteredProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12 m12 l12" style="overflow-x:auto; overflow-y:hidden;">
        <h5>FILTERED BY CATEGORY</h5>

        <div style="width:100px;height:160px;float:left;border: 1px solid var(--primaryRed); margin:15px;" class="card">
            <div style="height:100px;" class="card-image waves-effect waves-block waves-light">
                <img width="70" class="activator" src="https://png.pngtree.com/png-vector/20190214/ourmid/pngtree-engineering-icon-png-image_428266.jpg">
            </div>
            <div class="card-content" style="font-size:12px; padding:12px; text-align:center;">
                <span>
                    Engineering
                </span>
            </div>
            <a href="@Url.Action("Index","Home")">
                <i class="material-icons" style="position:absolute;top:0;right:0;color:var(--primaryGrey);z-index:1;padding:3px;">close</i>
            </a>
        </div>
    </div>
</div>


@Html.Partial("_Filter")


<div class="row itemslist" style="padding-bottom:200px;">

    @Html.Partial("_AvailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

    @Html.Partial("_UnavailableBook")

</div>



<script>
    $(document).ready(function () {
        booksSection_active();
        $('.modal-trigger').leanModal();
    });
</script>