@using BookPool.DataObjects.DTO
@using BookPool.DataObjects.EDM
@using BookPoolV2.Global

@{
    List<BookPoolResult> books = new List<BookPoolResult>();
    if (ViewBag.Books != null)
    {
        books = ViewBag.Books as List<BookPoolResult>;
    }

    List<Category> categories = new List<Category>();
    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories as List<Category>;
    }
}

@{
    if (ViewBag.Query == null)
    {
        <div class="row rowmargins">
            <div class="carousel">
                <a class="carousel-item" href="#one!">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                </a>
                <a class="carousel-item" href="#two!">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                </a>
                <a class="carousel-item" href="#three!">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                </a>
                <a class="carousel-item" href="#four!">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                </a>
                <a class="carousel-item" href="#five!">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="row rowmargins">
            <a href="@Url.Action("Index","Home")" class="sidenav-trigger" style="display: flex;color:var(--primaryRed);cursor:pointer;width:100%;">
                <i class="material-icons">keyboard_arrow_left</i>
                <span style="font-family:AvenirNextBold;">Clear Search</span>
            </a>
        </div>
    }
}

<div class="section filtercontainer" style="width:100%; margin:0px;">

    <h5 style="margin-bottom:0px;">BROWSE BY CATEGORY</h5>

    <form class="categoriesList" style="overflow-x:auto;overflow-y:hidden;width: 100%; height:175px;">
        <table class="row">
            <tr>
                @{
                    foreach (var category in categories)
                    {
                        <td>
                            <div class="card mediumfilter category" data-CategoryID="@category.ID" style="box-shadow:none; border: 1px #EFEFEF solid;">
                                <div class="card-content">
                                    <span class="card-title" style="height:80px;padding:10px;">
                                        <img width="70" src="@category.CategoryImage" />
                                    </span>
                                    <p style="font-size:12px;margin-top:5px;">
                                        @category.CategoryName
                                    </p>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>

    </form>
</div>

@Html.Partial("_Filter")

<div class="row itemslist">

    @{
        foreach (var book in books)
        {
            if (book.OwnerUserID == null || book.SellingStatus != Globals.BookSellingStatus_Available)
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_UnavailableBook", book)
                </div>
            }
            else
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_AvailableBook", book)
                </div>
            }
        }
    }

</div>

<script>
    $(document).ready(function () {
        booksSection_active();
    });

    $(document).on('click', '.filterResults', function () {
        var filterName = $(this).attr('data-Filter');
        var filterValue = $(this).attr('data-Value');

        $('.filterResults').removeClass('active');
        $(this).addClass('active');

        var url = '@Url.Action("Index","Home")?' + filterName + "=" + filterValue;
        window.location = url;
    });

    @{
        if (ViewBag.Language == "english")
        {
            <text>
                $(document).ready(function () {
                    $('#englishFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "french")
        {
            <text>
                $(document).ready(function () {
                    $('#frenchFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "arabic")
        {
            <text>
                $(document).ready(function () {
                    $('#arabicFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.AvailableOnly)
        {

            <text>
                $(document).ready(function () {
                    $('#availableOnlyFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPopularity)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPopularityFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPrice)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPriceFilter').addClass('active');
                });
            </text>
        }
    }

</script>