@using BookPool.DataObjects.DTO
@using BookPool.DataObjects.EDM
@using BookPoolV2.Global

@{
    List<BookPoolResult> books = new List<BookPoolResult>();
    if (ViewBag.Books != null)
    {
        books = ViewBag.Books as List<BookPoolResult>;
    }

    List<Category> categories = new List<Category>();
    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories as List<Category>;
    }

    List<BookPoolResult> mostSoldBooks = new List<BookPoolResult>();
    if (ViewBag.MostSoldBooks != null)
    {
        mostSoldBooks = ViewBag.MostSoldBooks as List<BookPoolResult>;
    }
}

<style>
    .push-to-sell * {
        box-sizing: border-box;
    }
    .push-to-sell div {
        display: block;
        height: 100%;
        animation: hue-rotate 10s linear infinite;
    }

    .button {
      -webkit-font-smoothing: antialiased;
      background-color: #222;
      border: none;
      color: #fff;
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
    }
    .button:hover {
      background-color: #90feb5;
      color: #fff;
    }
    .button:active {
      transform: scale(0.95);
    }
    .button--bubble {
      position: relative;
      z-index: 2;
      color: white;
      background: none;
    }
    .button--bubble:hover {
      background: none;
    }
    .button--bubble:hover + .button--bubble__effect-container .circle {
      background: #44fd82;
    }
    .button--bubble:hover + .button--bubble__effect-container .button {
      background: #44fd82;
    }
    .button--bubble:active + .button--bubble__effect-container {
      transform: scale(0.95);
    }
    .button--bubble__container {
      position: relative;
      display: inline-block;
    }
    .button--bubble__container .effect-button {
      position: absolute;
      width: 50%;
      height: 25%;
      top: 50%;
      left: 25%;
      z-index: 1;
      transform: translateY(-50%);
      background: #222;
      transition: background 0.1s ease-out;
    }
    .button--bubble__effect-container {
      position: absolute;
      display: block;
      width: 200%;
      height: 400%;
      top: -150%;
      left: -50%;
      -webkit-filter: url("#goo");
      filter: url("#goo");
      transition: all 0.1s ease-out;
      pointer-events: none;
    }
    .button--bubble__effect-container .circle {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background: #222;
      transition: background 0.1s ease-out;
    }
    .button--bubble__effect-container .circle.top-left {
      top: 40%;
      left: 27%;
    }
    .button--bubble__effect-container .circle.bottom-right {
      bottom: 40%;
      right: 27%;
    }
    .goo {
      position: absolute;
      visibility: hidden;
      width: 1px;
      height: 1px;
    }

    .button--bubble__container {
      top: 50%;
      margin-top: -25px;
    }
    @@keyframes hue-rotate {
      from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
      }
    }

</style>


@{
    if (ViewBag.Query == null)
    {
        <div class="row rowmargins" style="margin-top:50px;">
            <div class="carousel">
                @{
                    foreach (var book in mostSoldBooks)
                    {
                        <a class="carousel-item" href="@Url.Action("Index","Home")?query=@book.BookName">
                            <img src="@book.ImageURL">
                        </a>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="row rowmargins">
            <a href="@Url.Action("Index","Home")" class="sidenav-trigger" style="display: flex;color:var(--primaryRed);cursor:pointer;width:100%;">
                <i class="material-icons">keyboard_arrow_left</i>
                <span style="font-family:AvenirNextBold;">Clear Search</span>
            </a>
        </div>
    }
}

<div class="section filtercontainer push-to-sell" style="display:flex;padding-top:40px;">
    @{
        if (Request.IsAuthenticated)
        {
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                            <feComposite in="SourceGraphic" in2="goo" />
                        </filter>
                    </defs>
                </svg>

                <span class="button--bubble__container">
                    <a href="@Url.Action("MyBooks","Home")" class="button button--bubble">
                        I want to sell a book
                    </a>
                    <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>

                        <span class="button effect-button"></span>

                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                    </span>
                </span>
            </div>
        }
        else
        {
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                            <feComposite in="SourceGraphic" in2="goo" />
                        </filter>
                    </defs>
                </svg>

                <span class="button--bubble__container">
                    <a class="button button--bubble modal-trigger" data-target="sell-my-book-modal">
                        I want to sell a book
                    </a>
                    <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>

                        <span class="button effect-button"></span>

                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                    </span>
                </span>
            </div>
        }
    }
</div>

@*<div class="section filtercontainer" style="display:none;">
    @{
        if (Request.IsAuthenticated)
        {
            <div id="founderMessage" class="row">
                <div class="col s12 m3">

                </div>
                <div class="col s12 m6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Message from the founder</span>
                            <p>
                                Bookpool was created in order to provide Lebanese readers and academics with quality books for lower prices.
                                This allows you, the user to sell your books on this platform for free and allows you to buy books cheaper than local or international libraries.
                                Please consider selling books you're not using anymore.
                            </p>
                        </div>
                        <div class="card-action">
                            <a id="hideMessage">I'm here to buy</a>
                            <a style="color:white;font-weight:bold;float:right;" href="@Url.Action("MyBooks","Home")">Sell a book</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">

                </div>
            </div>
            <div id="sellABookContainer" style="display:none;">
                <a href="@Url.Action("MyBooks","Home")" class="waves-effect waves-green btn-flat green" style="min-width:100px; color:white;">
                    I want to sell a book
                </a>
            </div>
        }
        else
        {
            <div id="founderMessage" class="row">
                <div class="col s12 m3">

                </div>
                <div class="col s12 m6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Message from the founder</span>
                            <p>
                                Bookpool was created in order to provide Lebanese readers and academics with quality books for lower prices.
                                This allows you, the user to sell your books on this platform for free and allows you to buy books cheaper than local or international libraries.
                                Please consider selling books you're not using anymore.
                            </p>
                        </div>
                        <div class="card-action">
                            <a id="hideMessage">I'm here to buy</a>
                            <a style="color:white;font-weight:bold;float:right;" class="modal-trigger" data-target="sell-my-book-modal">Sell a book</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">

                </div>
            </div>
            <div id="sellABookContainer" style="display:none;">
                <a class="waves-effect waves-green btn-flat green modal-trigger" data-target="sell-my-book-modal" style="min-width:100px; color:white;">
                    I want to sell a book
                </a>
            </div>
        }
    }
</div>*@

<div class="section filtercontainer" style="width:100%; margin:0px;">

    <h5 style="margin-bottom:0px;">BROWSE BY CATEGORY</h5>

    <form class="categoriesList" style="overflow-x:auto;overflow-y:hidden;width: 100%; height:175px;">
        <table class="row">
            <tr>
                @{
                    foreach (var category in categories)
                    {
                        <td>
                            <div class="card mediumfilter category" data-CategoryID="@category.ID" style="box-shadow:none; border: 1px #EFEFEF solid;">
                                <div class="card-content">
                                    <span class="card-title" style="height:80px;padding:10px;">
                                        <img width="70" src="@category.CategoryImage" />
                                    </span>
                                    <p style="font-size:12px;margin-top:5px;">
                                        @category.CategoryName
                                    </p>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>

    </form>
</div>

@Html.Partial("_Filter")

<div class="row itemslist">

    @{
        foreach (var book in books)
        {
            if (book.OwnerUserID == null || book.SellingStatus != Globals.BookSellingStatus_Available)
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_UnavailableBook", book)
                </div>
            }
            else
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_AvailableBook", book)
                </div>
            }
        }
        if (books.Count() == 0)
        {
            @Html.Partial("_NoBooksFound")
        }
    }

</div>

<script>
    $(document).ready(function () {
        booksSection_active();
    });

    $(document).on('click', '.filterResults', function () {

        var isSelected = $(this).hasClass('active');
        if (isSelected) {
            console.log('IS SLECTED');
            $(this).removeClass('active');
        } else {
            var filterName = $(this).attr('data-Filter');
            var filterValue = $(this).attr('data-Value');

            if (filterName == 'Language') {
                $('.filterResults[data-Filter="Language"]').removeClass('active');
            }

            if (filterName == 'sortByPrice') {
                $('.filterResults[data-Filter="sortByPopularity"]').removeClass('active');
            }

            if (filterName == 'sortByPopularity') {
                $('.filterResults[data-Filter="sortByPrice"]').removeClass('active');
            }

            $(this).addClass('active');
        }

        console.log('getFilters() = ' + getFilters());

        var filter = getFilters();

        if (@(ViewBag.Query == null ? "true" : "false")) {
            var url = '@Url.Action("Index","Home")?' + filter;
            window.location = url;
        } else {
            if (filter.length > 0) {
                filter = '&' + filter;
            }
            var url = '@Url.Action("Index","Home")?query=' + '@ViewBag.Query' + filter;
            window.location = url;
        }
    });

    @{
        if (ViewBag.Language == "english")
        {
            <text>
                $(document).ready(function () {
                    $('#englishFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "french")
        {
            <text>
                $(document).ready(function () {
                    $('#frenchFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "arabic")
        {
            <text>
                $(document).ready(function () {
                    $('#arabicFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.AvailableOnly)
        {

            <text>
                $(document).ready(function () {
                    $('#availableOnlyFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPopularity)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPopularityFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPrice)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPriceFilter').addClass('active');
                });
            </text>
        }
    }

</script>

<script>
    $('.button--bubble').each(function () {
        var $circlesTopLeft = $(this).parent().find('.circle.top-left');
        var $circlesBottomRight = $(this).parent().find('.circle.bottom-right');

        var tl = new TimelineLite();
        var tl2 = new TimelineLite();

        var btTl = new TimelineLite({ paused: true });

        tl.to($circlesTopLeft, 1.2, { x: -25, y: -25, scaleY: 2, ease: SlowMo.ease.config(0.1, 0.7, false) });
        tl.to($circlesTopLeft.eq(0), 0.1, { scale: 0.2, x: '+=6', y: '-=2' });
        tl.to($circlesTopLeft.eq(1), 0.1, { scaleX: 1, scaleY: 0.8, x: '-=10', y: '-=7' }, '-=0.1');
        tl.to($circlesTopLeft.eq(2), 0.1, { scale: 0.2, x: '-=15', y: '+=6' }, '-=0.1');
        tl.to($circlesTopLeft.eq(0), 1, { scale: 0, x: '-=5', y: '-=15', opacity: 0 });
        tl.to($circlesTopLeft.eq(1), 1, { scaleX: 0.4, scaleY: 0.4, x: '-=10', y: '-=10', opacity: 0 }, '-=1');
        tl.to($circlesTopLeft.eq(2), 1, { scale: 0, x: '-=15', y: '+=5', opacity: 0 }, '-=1');

        var tlBt1 = new TimelineLite();
        var tlBt2 = new TimelineLite();

        tlBt1.set($circlesTopLeft, { x: 0, y: 0, rotation: -45 });
        tlBt1.add(tl);

        tl2.set($circlesBottomRight, { x: 0, y: 0 });
        tl2.to($circlesBottomRight, 1.1, { x: 30, y: 30, ease: SlowMo.ease.config(0.1, 0.7, false) });
        tl2.to($circlesBottomRight.eq(0), 0.1, { scale: 0.2, x: '-=6', y: '+=3' });
        tl2.to($circlesBottomRight.eq(1), 0.1, { scale: 0.8, x: '+=7', y: '+=3' }, '-=0.1');
        tl2.to($circlesBottomRight.eq(2), 0.1, { scale: 0.2, x: '+=15', y: '-=6' }, '-=0.2');
        tl2.to($circlesBottomRight.eq(0), 1, { scale: 0, x: '+=5', y: '+=15', opacity: 0 });
        tl2.to($circlesBottomRight.eq(1), 1, { scale: 0.4, x: '+=7', y: '+=7', opacity: 0 }, '-=1');
        tl2.to($circlesBottomRight.eq(2), 1, { scale: 0, x: '+=15', y: '-=5', opacity: 0 }, '-=1');

        tlBt2.set($circlesBottomRight, { x: 0, y: 0, rotation: 45 });
        tlBt2.add(tl2);

        btTl.add(tlBt1);
        btTl.to($(this).parent().find('.button.effect-button'), 0.8, { scaleY: 1.1 }, 0.1);
        btTl.add(tlBt2, 0.2);
        btTl.to($(this).parent().find('.button.effect-button'), 1.8, { scale: 1, ease: Elastic.easeOut.config(1.2, 0.4) }, 1.2);

        btTl.timeScale(2.6);

        $(this).on('mouseover', function () {
            btTl.restart();
        });
    });
</script>