@using BookPool.DataObjects.DTO
@using BookPool.DataObjects.EDM
@using BookPoolV2.Global

@{
    List<BookPoolResult> books = new List<BookPoolResult>();
    if (ViewBag.Books != null)
    {
        books = ViewBag.Books as List<BookPoolResult>;
    }

    List<Category> categories = new List<Category>();
    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories as List<Category>;
    }

    List<BookPoolResult> mostSoldBooks = new List<BookPoolResult>();
    if (ViewBag.MostSoldBooks != null)
    {
        mostSoldBooks = ViewBag.MostSoldBooks as List<BookPoolResult>;
    }
}


@{
    if (ViewBag.Query == null)
    {
        <div class="row rowmargins" style="margin-top:50px;">
            <div class="carousel">
                @{
                    foreach (var book in mostSoldBooks)
                    {
                        <a class="carousel-item" href="@Url.Action("Index","Home")?query=@book.BookName">
                            <img src="@book.ImageURL">
                        </a>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="row rowmargins">
            <a href="@Url.Action("Index","Home")" class="sidenav-trigger" style="display: flex;color:var(--primaryRed);cursor:pointer;width:100%;">
                <i class="material-icons">keyboard_arrow_left</i>
                <span style="font-family:AvenirNextBold;">Clear Search</span>
            </a>
        </div>
    }
}

<div class="section filtercontainer" style="display:none;">
    @{
        if (Request.IsAuthenticated)
        {
        <div id="founderMessage" class="row">
            <div class="col s12 m3">

            </div>
            <div class="col s12 m6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Message from the founder</span>
                        <p>
                            Bookpool was created in order to provide Lebanese readers and academics with quality books for lower prices.
                            This allows you, the user to sell your books on this platform for free and allows you to buy books cheaper than local or international libraries.
                            Please consider selling books you're not using anymore.
                        </p>
                    </div>
                    <div class="card-action">
                        <a id="hideMessage">I'm here to buy</a>
                        <a style="color:white;font-weight:bold;float:right;" href="@Url.Action("MyBooks","Home")">Sell a book</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">

            </div>
        </div>
            <div id="sellABookContainer" style="display:none;">
                <a href="@Url.Action("MyBooks","Home")" class="waves-effect waves-green btn-flat green" style="min-width:100px; color:white;">
                    I want to sell a book
                </a>
            </div>
        }
        else
        {
            <div id="founderMessage" class="row">
                <div class="col s12 m3">

                </div>
                <div class="col s12 m6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Message from the founder</span>
                            <p>
                                Bookpool was created in order to provide Lebanese readers and academics with quality books for lower prices.
                                This allows you, the user to sell your books on this platform for free and allows you to buy books cheaper than local or international libraries.
                                Please consider selling books you're not using anymore.
                            </p>
                        </div>
                        <div class="card-action">
                            <a id="hideMessage">I'm here to buy</a>
                            <a style="color:white;font-weight:bold;float:right;" class="modal-trigger" data-target="sell-my-book-modal">Sell a book</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">

                </div>
            </div>
            <div id="sellABookContainer" style="display:none;">
                <a class="waves-effect waves-green btn-flat green modal-trigger" data-target="sell-my-book-modal" style="min-width:100px; color:white;">
                    I want to sell a book
                </a>
            </div>
        }
    }
</div>

<div class="section filtercontainer" style="width:100%; margin:0px;">

    <h5 style="margin-bottom:0px;">BROWSE BY CATEGORY</h5>

    <form class="categoriesList" style="overflow-x:auto;overflow-y:hidden;width: 100%; height:175px;">
        <table class="row">
            <tr>
                @{
                    foreach (var category in categories)
                    {
                        <td>
                            <div class="card mediumfilter category" data-CategoryID="@category.ID" style="box-shadow:none; border: 1px #EFEFEF solid;">
                                <div class="card-content">
                                    <span class="card-title" style="height:80px;padding:10px;">
                                        <img width="70" src="@category.CategoryImage" />
                                    </span>
                                    <p style="font-size:12px;margin-top:5px;">
                                        @category.CategoryName
                                    </p>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>

    </form>
</div>

@Html.Partial("_Filter")

<div class="row itemslist">

    @{
        foreach (var book in books)
        {
            if (book.OwnerUserID == null || book.SellingStatus != Globals.BookSellingStatus_Available)
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_UnavailableBook", book)
                </div>
            }
            else
            {
                <div class="col s12 m6 l4" style="height:250px;overflow:hidden;margin-bottom:15px;">
                    @Html.Partial("_AvailableBook", book)
                </div>
            }
        }
        if (books.Count() == 0)
        {
            @Html.Partial("_NoBooksFound")
        }
    }

</div>

<script>
    $(document).ready(function () {
        booksSection_active();
    });

    $(document).on('click', '.filterResults', function () {

        var isSelected = $(this).hasClass('active');
        if (isSelected) {
            console.log('IS SLECTED');
            $(this).removeClass('active');
        } else {
            var filterName = $(this).attr('data-Filter');
            var filterValue = $(this).attr('data-Value');

            if (filterName == 'Language') {
                $('.filterResults[data-Filter="Language"]').removeClass('active');
            }

            if (filterName == 'sortByPrice') {
                $('.filterResults[data-Filter="sortByPopularity"]').removeClass('active');
            }

            if (filterName == 'sortByPopularity') {
                $('.filterResults[data-Filter="sortByPrice"]').removeClass('active');
            }

            $(this).addClass('active');
        }

        console.log('getFilters() = ' + getFilters());

        var filter = getFilters();

        if (@(ViewBag.Query == null ? "true" : "false")) {
            var url = '@Url.Action("Index","Home")?' + filter;
            window.location = url;
        } else {
            if (filter.length > 0) {
                filter = '&' + filter;
            }
            var url = '@Url.Action("Index","Home")?query=' + '@ViewBag.Query' + filter;
            window.location = url;
        }
    });

    @{
        if (ViewBag.Language == "english")
        {
            <text>
                $(document).ready(function () {
                    $('#englishFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "french")
        {
            <text>
                $(document).ready(function () {
                    $('#frenchFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.Language == "arabic")
        {
            <text>
                $(document).ready(function () {
                    $('#arabicFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.AvailableOnly)
        {

            <text>
                $(document).ready(function () {
                    $('#availableOnlyFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPopularity)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPopularityFilter').addClass('active');
                });
            </text>
        }

        if (ViewBag.SortByPrice)
        {

            <text>
                $(document).ready(function () {
                    $('#sortByPriceFilter').addClass('active');
                });
            </text>
        }
    }

</script>