@using BookPool.DataObjects.DTO
@using BookPool.DataObjects.DTO
@using System;
@using System.Globalization;

@{
    List<BookPoolResult> suggestedBooks = new List<BookPoolResult>();
    if (ViewBag.SuggestedBooks != null)
    {
        suggestedBooks = ViewBag.SuggestedBooks as List<BookPoolResult>;
    }

    BookPoolResult availableBook = ViewBag.AvailableBook as BookPoolResult;
}

<div class="row" style="margin-bottom:75px;margin-top:50px;">
    <div class="selectedProduct col s12 m12 l12">
        <div class="card">
            <div class="card-image col s12 m3 l3" style="padding:0px;">

                <div class="carousel carousel-slider" style="overflow:hidden;">
                    <a class="carousel-item active" href="#one!">
                        <img src="@availableBook.ImageURL">
                    </a>
                    <a class="carousel-item" href="#two!">
                        <img src="@availableBook.ImageURL">
                    </a>
                    <a class="carousel-item" href="#three!">
                        <img src="@availableBook.ImageURL">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="@availableBook.ImageURL">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="@availableBook.ImageURL">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="@availableBook.ImageURL">
                    </a>
                </div>

                <a class="btn-floating waves-effect waves-light white" style="text-align: center;color: white;background-color: #60842D!important;">
                    @availableBook.AverageRating
                </a>

                <a class="btn-floating halfway-fab waves-effect waves-light white" style="bottom:-40px;">
                    <i class="material-icons red">favorite_border</i>
                </a>
            </div>
            <div class="card-content col s12 m12 l9" style="padding-bottom:0px;margin-top:50px;">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col s12 m12 l9">
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-book" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    @availableBook.BookName
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    @*<i class="material-icons" style="padding-right:10px;">info_outline</i>*@
                                    @string.Join(",", availableBook.Authors)
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-money" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    @availableBook.Price.ToString("C0", CultureInfo.CurrentCulture) L.L.
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <div style="margin-top:15px;" class="quantity buttons_added">
                                @*<input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">*@
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px;">
                            <div>
                                @*<div class="card-panel productInfoSize" style="float:left;text-align: center;margin-right: 10px; padding:10px;">
                                    <span>
                                        Ebook
                                    </span>
                                </div>*@
                                <div class="card-panel productInfoSize productInfoactive" style="float:left;text-align: center;margin-right: 10px; padding:10px;">
                                    <span>
                                        Hard Copy
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l3" style="padding-top:20px!important;">
                        <div class="row addtoCart" style="text-align: center; color: var(--primaryGrey);">
                            <i class="material-icons" style="font-size: 50px; width:100%;">add_shopping_cart</i>
                            <span>Add to cart</span>
                        </div>
                        <hr>
                        <div class="row gotouserbooks" style="text-align: center; color: var(--primaryGrey);">
                            <i class="material-icons" style="font-size: 50px; width:100%;">streetview</i>
                            <span>All books for sale by:</span>
                            <span style="font-weight:bold;">@availableBook.OwnerUser</span>
                        </div>
                        <hr style="display:none;" class="hiddenHR">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l12" style="margin-top:30px;">
        <div class="card">
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Publish On
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    @availableBook.PublishedDate
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Publisher
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    @availableBook.Publisher
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Pages
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    @availableBook.PageCount
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Preview
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <a href="@availableBook.PreviewLink" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s12 m12 l12" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Categories
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    @availableBook.Category
                                    @*@string.Join(",", availableBook.Categories)*@
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content col s12 m12 l12" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        About this book
                        <i class="material-icons">rate_review</i>
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    @availableBook.Description
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row itemslist">
    <div class="col s12 m12 l12">
        <h5>
            YOU MIGHT ALSO LIKE
        </h5>
    </div>

    @{
        foreach (var book in suggestedBooks)
        {
            if (book.OwnerUserID == null)
            {
                <div class="col s12 m6 l4" style="height:250px;">
                    @Html.Partial("_UnavailableBook", book)
                </div>
            }
            else
            {
                <div class="col s12 m6 l4">
                    @Html.Partial("_AvailableBook", book)
                </div>
            }
        }
    }

</div>




<script type="text/javascript">

    $(document).on('click', '.productInfoSize', function () {

        $('.productInfoSize').each(function (el) {
            $(this).removeClass('productInfoactive');
        });

        $(this).addClass('productInfoactive');
    });

    $(document).on('click', '.productInfoColor', function () {

        $('.productInfoColor').each(function (el) {
            $(this).removeClass('productInfoColoractive');
        });

        $(this).addClass('productInfoColoractive');
    });

    $(document).on('click', '.addtoCart', function () {

        var highlightElement = $(this);

        highlightElement.addClass('highlighted');

        setTimeout(function () {
            highlightElement.removeClass('highlighted');
        }, 1000);

    });

    $(document).on('click', '.gotouserbooks', function () {

        var highlightElement = $(this);

        highlightElement.addClass('highlighted');

        setTimeout(function () {
            highlightElement.removeClass('highlighted');
        }, 1000);

        var shopId = $(this).data('data-shopId');
        var url = '@Url.Action("FilteredProducts","Home")';
        window.location = url;

    });


    $(document).on('click', '.addtoCart', function () {
        var pluriel = '';
        var itemsInCart = parseInt($('#itemsincartbadge').text());
        var numberOfItemsinCart = itemsInCart;
        $('#itemsincartbadge').text(numberOfItemsinCart);

        $('#itemsincartbadge').parent().find('.material-icons').css('color', 'var(--primaryRed)');
        $('#itemsincartbadge').show();

        if (numberOfItemsinCart > 1) {
            pluriel = 'S';
        }
        $('#itemsInCartFooter').text(numberOfItemsinCart + ' ITEM' + pluriel)
        $('#messageFooter').show();
    });

</script>

